@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #112D4E;
    background: #a1c3ff;
}

/*---------- NAVBAR AND HEADER ------------*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar,
.about {
    background: #3474e6;
    color: #fff;
}

.navbar__container,
.header {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 25px;
}

.nav {
    display: flex;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar ul li {
    list-style: none;
    margin-right: 30px;
}

.navbar ul li a:hover {
    color: lightblue;
}

.header {
    min-height: 400px;
}

.header__img {
    max-width: 400px;
    min-width: 350px;
}

.header__heading {
    font-size: 3rem;
    padding-bottom: 30px;
}

.header__text {
    max-width: 650px;
    line-height: 1.8;
    font-size: 18px;
}




/*---------- RESOURCES SECTION ------------*/

.resources {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px 30px;
}

.resources__header {
    text-align: center;
    padding: 0 50px;
}

.resources__heading {
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.resources__text {
    line-height: 1.8;
    font-size: 18px;
}

.resources__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
}

.resources__card-item {
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.resources__card-item__header {
    display: flex;
    align-items: center;
}

.resources__card-item__header a {
    text-decoration: none;
    color: #fff;
}

.resources__card-item__header a:hover {
    text-decoration: underline;
    color: lightblue;
    ;
}

.resources__card-item__header h3 {
    font-size: larger;
}

.resources__card-item__header .resources__card-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.resources__card-item__text {
    margin: 20px 0;
    font-size: medium;
}



/*---------- PROJECTS SECTION ------------*/

.projects {
    background: #3474e6;
    color: #fff;
}

.projects_ {
    max-width: 1100px;
    margin: auto;
    padding: 20px 30px 50px;
    text-align: center;
}

.projects__header {
    padding: 50px 50px;
}

.projects__heading {
    font-size: 2.3rem;
    padding-bottom: 20px;
}

.projects__text {
    line-height: 1.8;
    font-size: 18px;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.project__item {
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.project__heading {
    text-align: center;
    margin: 7px 0;
}

.project__name {
    margin: 15px auto;
    font-size: larger;
}

.project__img {
    width: 100%;
    border-radius: 5%;
}

.project__info {
    margin: 20px auto;
}

.project__desc {
    font-size: medium;
    margin-bottom: 25px;
}

.project__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project__info .project__button {
    padding: 15px 20px;
    border-radius: 20%;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: large;
}

.project__info .project__button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    background-color: #3474e6;
}

.project__info .project__button a {
    text-decoration: none;
    color: #fff;
}