@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

/*---------- NAVBAR AND HEADER ------------*/
.navbar, 
.about {
    background-color: #112D4E;
    color: #F9F7F7;
}

.navbar__container, 
.header {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 25px;
}

.nav {
    display: flex;
}

.nav__link {
    color: #F9F7F7;
    text-decoration: none;
}

.navbar ul li {
    list-style: none;
    margin-right: 30px;
    opacity: 80%;
}

.navbar ul li a:hover {
    color: #3F72AF;
}

.header {
    min-height: 400px;
}

.header__img {
    max-width: 300px;
}

.header__text {
    max-width: 650px;
}

.header__heading {
    font-size: 3rem;
    padding-bottom: 30px;
}

.header__text {
    line-height: 1.8;
    font-size: 18px;
}